<h1>Posts</h1>

<div class="content">
  <div id="listing">
  <ol>
  <% @posts.each do |post| %>
    <li class="project">
      <h2 class="title"><%= post.title %></h2>
      <div class="info a"><%= post.body %></div>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>
  </ol>
  </div>

<br />
<br />
<br />
  <%= link_to 'New Post', new_post_path %>
</div>
